<html lang="en">
<head>
    <title>Bait</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./dist/panel.js"></script>
</head>
<body>

  <main id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    	<div class="navbar-brand"><h2>HLS</h2></div>
  				<h2><a class="nav-link" href="#" onclick="window.print()">Print</a></h2>
          <select>
            <option>Payloads found</option>
            <option v-for="(payload, index) in Net.results">{{index+1}} - {{payload.timestamp.getHours()}}:{{payload.timestamp.getMinutes()}}:{{payload.timestamp.getSeconds()}}</option>
          </select>
    	</div>
    </nav>

    <div class="container-fluid">

      <!-- <section id="offer-summary-section">
        <h3>Offer Summary</h3>
        <table class="table">
          <tbody>
            <tr v-for="(offer,index) in offerSummary" :key='index'>
              <template v-if="offer.type !== 'total'">
                <th>
                  <a :href="slugify('#'+offer.type+'-offers')">{{offer.type}}</a>
                </th>
                <td>
                  <a :href="slugify('#'+offer.type+'-offers')">{{offer.count}}</a>
                </td>
              </template>
            </tr>
          </tbody>
          <tfoot>
              <th>Total</th><td>{{offerSummary[offerSummary.length-1].count}}</td>
          </tfoot>
        </table>
        <div class="row justify-content-end">
          <span class="btn"><a href="#">View in MRI</a></span>
          <span class="btn"><a href="#">View in Kibana</a></span>
        </div>
      </section> -->

      <!-- <section id="user-info-section">
        <h3>User Info</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>PlayerKey</th><td><span class="badge badge-secondary" title="Gaming System ID">{{userInfo.gamingSystemID}}</span><strong>-</strong><span class="badge badge-secondary" title="User ID">{{userInfo.userID}}</span></td>
            </tr>
            <tr>
              <th>Username</th><td>{{userInfo.username}}</td>
            </tr>
            <tr>
              <th>Session ID</th><td>{{userInfo.sessionID}}</td>
            </tr>
            <tr>
              <th>Balance</th><td>{{userInfo.balance}}</td>
            </tr>
            <tr>
              <th>Language</th><td title="todo: supply full language here">{{userInfo.languageISO}}</td>
            </tr>
            <tr>
              <th>Country</th><td><span title="todo: supply full country here">{{userInfo.countryISO}}</span></td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-end">
          <span class="btn"><a href="#">View in UserInfo</a></span>
        </div>
      </section>

      <section id="product-section">
        <h3>Product Info</h3>
        <table class="table">
          <tbody>
            <tr><th>Name</th><td>{{productInfo.name}} (TODO: show the product logo or branding here)</td></tr>
            <tr><th>Company</th><td>{{productInfo.company}} (TODO: show the company logo or branding here)</td></tr>
            <tr><th>Area</th><td>{{productInfo.area}}</td></tr>
          </tbody>
        </table>
      </section> -->

      <!-- <template v-for="summary in offerSummary">
        <section v-if="summary.type !== 'total'" :id="slugify(summary.type)+'-offers'" >
          <h3><span class="mr-2">{{summary.type}} Offers</span><span class="badge badge-light">{{summary.count}}</span></h3>
          <table>
            <thead>
              <tr>
                <th v-if="['type'].indexOf(prop) === -1" v-for="(val, prop) in offers.find(o=>o.type === summary.type)">
                  {{prop}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(offer, offerIndex) in offers.filter(o=>o.type === summary.type)">
                <td v-if="['type'].indexOf(prop) === -1" v-for="(val, prop) in offer">
                  <span v-html="humanize(val)"></span>
                </th>
              </tr>
            </tbody>
          </table>
        </section>
      </template> -->

      <!-- <section>
        <h3>Built-In Checks</h3>
        <table class="table table">
          <tbody>
            <template v-for="(value,property) in builtInChecks">
              <tr v-bind:class="{'text-danger': value === false }">
                <th>{{property}}</th>
                <td><span class="fa fa-check" v-bind:class="{'fa-check': value === true, 'fa-times': value === false }"></span></td>
              </tr>
            </template>
          </tbody>
        </table>
      </section> -->

      <footer class="text-center my-3">
        <button class="btn btn-lg btn-primary" v-on:click="copyPayload">Copy Payload</button>
      </footer>

    </div>
  </main>
</body>
</html>
