<html lang="en">
<head>
    <title>Bait</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./assets/scripts/panel.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  	<div class="navbar-brand js-scroll-trigger"><h2>HLS</h2></div>
  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  		<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
  		<ul class="navbar-nav">
				<li class="nav-item">
					<h2><a class="nav-link" href="#" onclick="window.print()">Print</a></h2>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><h2><span class="badge badge-secondary" title="Total Payloads">3</span></h2></a>
				</li>
      </ul>
  	</div>
  </nav>

  <main id="app">
    <div class="container-fluid">

      <section>
        <h3>Offer Summary</h3>
        <table class="table">
          <tbody>
            <tr v-for="(offer,index) in offerSummary" :key='index'>
              <template v-if="offer.type !== 'total'">
                <th>
                  <a :href="slugify('#'+offer.type+'-offers')">{{offer.type}}</a>
                </th>
                <td>
                  <a :href="slugify('#'+offer.type+'-offers')">{{offer.count}}</a>
                </td>
              </template>
            </tr>
          </tbody>
          <tfoot>
              <th>Total</th><td>{{offerSummary[offerSummary.length-1].count}}</td>
          </tfoot>
        </table>
        <div class="row justify-content-end">
          <span class="btn"><a href="#">View in MRI</a></span>
          <span class="btn"><a href="#">View in Kibana</a></span>
        </div>
      </section>

      <section>
        <h3>User Info</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>PlayerKey</th><td><span class="badge badge-secondary" title="Gaming System ID">{{userInfo.gamingSystemID}}</span><strong>-</strong><span class="badge badge-secondary" title="User ID">{{userInfo.userID}}</span></td>
            </tr>
            <tr>
              <th>Username</th><td>{{userInfo.username}}</td>
            </tr>
            <tr>
              <th>Session ID</th><td>{{userInfo.sessionID}}</td>
            </tr>
            <tr>
              <th>Balance</th><td>{{userInfo.balance}}</td>
            </tr>
            <tr>
              <th>Language</th><td title="todo: supply full language here">{{userInfo.languageISO}}</td>
            </tr>
            <tr>
              <th>Country</th><td><span title="todo: supply full country here">{{userInfo.countryISO}}</span></td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-end">
          <span class="btn"><a href="#">View in UserInfo</a></span>
        </div>
      </section>

      <section id="casino-section">
        <h3>Product Info</h3>
        <table class="table">
          <tbody>
            <tr><th>Name</th><td>{{productInfo.name}} (TODO: show the product logo or branding here)</td></tr>
            <tr><th>Company</th><td>{{productInfo.company}} (TODO: show the company logo or branding here)</td></tr>
            <tr><th>Area</th><td>{{productInfo.area}}</td></tr>
          </tbody>
        </table>
      </section>

      <template v-for="summary in offerSummary">
        <section v-if="summary.type !== 'total'">
          <h3><span class="mr-2">{{summary.type}} Offers</span><span class="badge badge-light">{{summary.count}}</span></h3>
          <table>
            <thead>
              <tr>
                <th v-for="(val, prop) in offers.find(o=>o.type === summary.type)">
                  {{prop}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td v-for="(val, prop) in offers.find(o=>o.type === summary.type)">
                  <span v-html="val|humanize"></span>
                </th>
              </tr>
            </tbody>
          </table>
        </section>
      </template>

      <section id="dailybonus-offers">
        <h3>Daily Bonus Offers <span class="badge badge-light">1</span></h3>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th>Content Type</th>
              <th>Content ID</th>
              <th>Language ISO</th>
              <th>Opted In</th>
              <th>Carousel Text</th>
              <th>Atom URL</th>
              <th>MRI URL</th>
              <th>Refinery URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Daily Bonus 1</td>
              <td>Calendar</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="calendar-offers">
        <h3>Calendar Offers <span class="badge badge-light">2</span></h3>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th>Content Type</th>
              <th>Content ID</th>
              <th>Language ISO</th>
              <th>Opted In</th>
              <th>Carousel Text</th>
              <th>Atom URL</th>
              <th>MRI URL</th>
              <th>Refinery URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Calendar FLG Unlimited</td>
              <td>Calendar</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>Calendar FLG Unlimited</td>
              <td>Calendar</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="openblock-offers">
        <h3>OpenBlock Offers <span class="badge badge-light">5</span></h3>
        <table class="tabl table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th>Content Type</th>
              <th>Content ID</th>
              <th>Language ISO</th>
              <th>Opted In</th>
              <th>Carousel Text</th>
              <th>Atom URL</th>
              <th>MRI URL</th>
              <th>Refinery URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FLG OpenBlock 1</td>
              <td>HeadlineGamePlay</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>FLG OpenBlock 2</td>
              <td>HeadlineGamePlay</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>FLG OpenBlock 3</td>
              <td>HeadlineGamePlay</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>FLG OpenBlock 4</td>
              <td>HeadlineGamePlay</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
            <tr>
              <td>FLG OpenBlock 5</td>
              <td>HeadlineGamePlay</td>
              <td>XXX-XXX-XXX-XXX</td>
              <td>en</td>
              <td>false</td>
              <td>Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.Lots of text that should be wrapped.</td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
              <td><a href="#">link</a></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h3>Built-In Checks</h3>
        <table class="table table">
          <tbody>
            <template v-for="(value,property) in builtInChecks">
              <tr v-bind:class="{'text-danger': value === false }">
                <th>{{property}}</th>
                <td><span class="fa fa-check" v-bind:class="{'fa-check': value === true, 'fa-times': value === false }"></span></td>
              </tr>
            </template>
          </tbody>
        </table>
      </section>

      <footer class="text-center my-3">
        <button class="btn btn-lg btn-primary" v-on:click="copyPayload">Copy Payload</button>
      </footer>

    </div>
  </main>

</body>
</html>
