body{
  font-family: 'Open Sans', sans-serif;
}

.bg-primary {
    background-color: #d6df26 !important;
    background-color: #1bbed1 !important;
    background-color: #5bbf94 !important;
}


main section{
  padding: 2em 1em;
  border-bottom: 1px solid #ccc;
}
